.bg {
    &-default {
        background: linear-gradient(135deg, #6ac677, #2e2f52);
    }

    &-clear {
        background: linear-gradient(135deg, #00b4db, #0083b0);
    }

    &-cloudy {
        background: linear-gradient(135deg, #757f9a, #d7dde8);
    }

    &-rainy {
        background: linear-gradient(135deg, #373b44, #4286f4);
    }

    &-storm {
        background: linear-gradient(135deg, #283E51, #4B79A1);
    }

    &-snow {
        background: linear-gradient(135deg, #E6DADA, #274046);
    }

    &-misty {
        background: linear-gradient(135deg, #606c88, #3f4c6b);
    }
}