$primary-gradient: linear-gradient(135deg, #6ac677, #2e2f52);
$container-gradient: linear-gradient(135deg, #ff94bb, #7679d1);
$button-gradient: linear-gradient(135deg, #611e72, #2a5298);
$button-hover-gradient: linear-gradient(135deg, #2a5298, #1e3c72);

$font-family: "Comfortaa", sans-serif;
$border-radius-lg: 20px;
$border-radius-md: 10px;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);